<h1>Editing evaluator</h1>

<%= render 'form' %>

<table><tr>
<td><%= button_to 'All Evaluators', evaluators_path,method: :get %></td>
<td><%= button_to 'Show', @evaluator,method: :get %></td>
<td><%= button_to 'Destroy', @evaluator,method: :delete %></td>
</tr></table>

