<h1>About Us</h1>
<p>
  <a href="/">Kagglito</a>
    is a project to automate the hosting of Image Analysis Competitions.
</p>
<p>
Development team:
<table>
<tr><td>
Nicolas Bugnon </td><td> University of Lausanne
</td></tr>
<tr><td>
Anguelos Nicolaou </td><td> University of Bern
</td></tr>
<tr><td>
Cedric Reginster  </td><td> University of Bern	
</td></tr>
</table>
</p>
