    <h1>Contact</h1>
    <p>
      Contact the Team:
    </p>
<table>
<tr><td>
Nicolas Bugnon </td><td> <b>nicolas</b>dot<b>bugnon</b>at<b>unil</b>dot<b>ch</b>
</td></tr>
<tr><td>
Anguelos Nicolaou </td><td> <b>anguelos</b>dot<b>nicolaou</b>at<b>gmail</b>dot<b>com</b>
</td></tr>
<tr><td>
Cedric Reginster  </td><td> <b>cedric</b>dot<b>reginster</b>at<b>gmail</b>dot<b>com</b>
</td></tr>
</table>


