    <h1>Image Competitions</h1>

    <p>This is the home page of Kagglito network.</p>

    <p>A project of the Master in Computer Sciences, for the course <a href="http://mcs.unibnf.ch/program/courses-timetable/courses/web-engineering-0">Web Engineering</a>.</p>

    <p>For the moment based on a the tutorial <a href="http://ruby.railstutorial.org/ruby-on-rails-tutorial-book">Ruby on Rails Tutorial</a>.</p>
    <% if !user_signed_in? %>
    <%= link_to "Sign up now!", new_user_registration_path, :class => "signup_button round" %>
    <% end %>
